USE [master]
GO
/****** Object:  Database [PH_Test]    Script Date: 3/19/2017 10:47:59 AM ******/
CREATE DATABASE [PH_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PH_Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PH_Test.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PH_Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PH_Test_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PH_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PH_Test]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 3/19/2017 10:47:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([ID], [Name], [Address]) VALUES (1, N'Store1    ', N'Address1')
INSERT [dbo].[Store] ([ID], [Name], [Address]) VALUES (2, N'Store2    ', N'Address2')
SET IDENTITY_INSERT [dbo].[Store] OFF
USE [master]
GO
